@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-exo: var(--font-exo-2);
  --color-background: var(--background);
  --color-dark: var(--dark);
  --color-dark-1: var(--dark-1);
  --color-dark-2: var(--dark-2);
  --color-dark-3: var(--dark-3);
  --color-foreground: var(--foreground);
  --color-foreground-light: var(--foreground-light);
  --color-gray: var(--gray);
  --color-gray-light: var(--gray-light);
  --color-progress: var(--progress);
  --color-done: var(--done);
  --color-priority: var(--priority);
  --color-accent: var(--accent);
}

:root {
  --dark: #222327;
  --dark-1: #1c1d22;
  --dark-2: #24262c;
  --dark-3: #292b31;
  --background: #ffffff;
  --foreground: #1c1d22;
  --foreground-light: #1c1d2280;
  --gray: #1c1d2214;
  --gray-light: #888da7;
  --progress: #ffa048;
  --done: #78d700;
  --accent: #4b69ff;
  --priority: #ff7979;
}

.dark {
  --dark: #222327;
  --dark-1: #1c1d22;
  --dark-2: #24262c;
  --dark-3: #292b31;
  --foreground: #ffffff;
  --background: #2a2b2f;
  --foreground-light: #1c1d2280;
  --gray: #1c1d2214;
  --gray-light: #888da7;
  --accent: #4b69ff;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

@layer base {
  * {
    @apply p-0 m-0 text-base font-exo;
  }
  body {
    @apply bg-background text-foreground dark:bg-dark-2;
  }
}
